<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&family=Montserrat:wght@400;700&family=Raleway&family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css" rel="stylesheet"
    integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../css/catalog.css">
<body>
    <section class="catalog-section">
        <h2 id="catalog" class="catalog-title">Catalog</h2>
        <ul class="catalog-list list">
            <li class="catalog-item">
                <img srcset="../img/catalog/watch1-2x-squoosh.jpg 2x" src="../img/catalog/watch1-squoosh.jpg" alt="catalog-photo"
                    width="275">
                <div class="catalog-cover-text">
                    <h3>Description</h3>
                    <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATUREStion</h3>
                    <p>Gender: man <br>
                        Size: 46x54.5mm <br>
                        Case Colour: Steel <br>
                        Band Material: Metal <br>
                        Case Material: Metal <br>
                        Features: Multifunction <br>
                        Water Resistant: 5 (ATM) <br>
                        Band Colour: Steel</p>
                </div>
                <p class="catalog-paragraph">Tube Watch S42 Date Steel With Black...</p>
                <span class="catalog-price">€395</span>
            </li>
            <li class="catalog-item">
                <img srcset="../img/catalog/watch2-2x-squoosh.jpg 2x" src="../img/catalog/watch2-squoosh.jpg" alt="catalog-photo"
                    width="275">
                <div class="catalog-cover-text">
                    <h3>Description</h3>
                    <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATUREStion</h3>
                    <p>Gender: man <br>
                        Size: 46x54.5mm <br>
                        Case Colour: Steel <br>
                        Band Material: Metal <br>
                        Case Material: Metal <br>
                        Features: Multifunction <br>
                        Water Resistant: 5 (ATM) <br>
                        Band Colour: Steel</p>
                </div>
                <p class="catalog-paragraph">Avondale Watch Police For Men</p>
                <span class="catalog-price">€800</span>
            </li>
            <li class="catalog-item">
                <img srcset="../img/catalog/watch3-2x-squoosh.jpg 2x" src="../img/catalog/watch3-squoosh.jpg" alt="catalog-photo"
                    width="275">
                <div class="catalog-cover-text">
                    <h3>Description</h3>
                    <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATUREStion</h3>
                    <p>Gender: man <br>
                        Size: 46x54.5mm <br>
                        Case Colour: Steel <br>
                        Band Material: Metal <br>
                        Case Material: Metal <br>
                        Features: Multifunction <br>
                        Water Resistant: 5 (ATM) <br>
                        Band Colour: Steel</p>
                </div>
                <p class="catalog-paragraph">Diver 300M Co-Axial Master Chronomete...</p>
                <span class="catalog-price">€600</span>
            </li>
            <li class="catalog-item">
                <img srcset="../img/catalog/watch4-2x-squoosh.jpg 2x" src="../img/catalog/watch4-squoosh.jpg" alt="catalog-photo"
                    width="275">
                <div class="catalog-cover-text">
                    <h3>Description</h3>
                    <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATUREStion</h3>
                    <p>Gender: man <br>
                        Size: 46x54.5mm <br>
                        Case Colour: Steel <br>
                        Band Material: Metal <br>
                        Case Material: Metal <br>
                        Features: Multifunction <br>
                        Water Resistant: 5 (ATM) <br>
                        Band Colour: Steel</p>
                </div>
                <p class="catalog-paragraph">Diver 300M Co-Axial Master Chronometer</p>
                <span class="catalog-price">€1400</span>
            </li>
            <li class="catalog-item">
                <img srcset="../img/catalog/watch5-2x-squoosh.jpg 2x" src="../img/catalog/watch5-squoosh.jpg" alt="catalog-photo"
                    width="275">
                <div class="catalog-cover-text">
                    <h3>Description</h3>
                    <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATUREStion</h3>
                    <p>Gender: man <br>
                        Size: 46x54.5mm <br>
                        Case Colour: Steel <br>
                        Band Material: Metal <br>
                        Case Material: Metal <br>
                        Features: Multifunction <br>
                        Water Resistant: 5 (ATM) <br>
                        Band Colour: Steel</p>
                </div>
                <p class="catalog-paragraph">Taman Watch By Police For Men</p>
                <span class="catalog-price">€500</span>
            </li>
            <li class="catalog-item">
                <img srcset="../img/catalog/watch6-2x-squoosh.jpg 2x" src="../img/catalog/watch6-squoosh.jpg" alt="catalog-photo"
                    width="275">
                <div class="catalog-cover-text">
                    <h3>Description</h3>
                    <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATUREStion</h3>
                    <p>Gender: man <br>
                        Size: 46x54.5mm <br>
                        Case Colour: Steel <br>
                        Band Material: Metal <br>
                        Case Material: Metal <br>
                        Features: Multifunction <br>
                        Water Resistant: 5 (ATM) <br>
                        Band Colour: Steel</p>
                </div>
                <p class="catalog-paragraph">Malawi Watch Police For Men</p>
                <span class="catalog-price">€555</span>
            </li>
            <li class="catalog-item">
                <img srcset="../img/catalog/watch7-2x-squoosh.jpg 2x" src="../img/catalog/watch7-squoosh.jpg" alt="catalog-photo"
                    width="275">
                <div class="catalog-cover-text">
                    <h3>Description</h3>
                    <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATUREStion</h3>
                    <p>Gender: man <br>
                        Size: 46x54.5mm <br>
                        Case Colour: Steel <br>
                        Band Material: Metal <br>
                        Case Material: Metal <br>
                        Features: Multifunction <br>
                        Water Resistant: 5 (ATM) <br>
                        Band Colour: Steel</p>
                </div>
                <p class="catalog-paragraph">Diver 300M Co-Axial Master...</p>
                <span class="catalog-price">€1200</span>
            </li>
            <li class="catalog-item">
                <img srcset="../img/catalog/watch8-2x-squoosh.jpg 2x" src="../img/catalog/watch8-squoosh.jpg" alt="catalog-photo"
                    width="275">
                <div class="catalog-cover-text">
                    <h3>Description</h3>
                    <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                    <h3>DETAILS & FEATUREStion</h3>
                    <p>Gender: man <br>
                        Size: 46x54.5mm <br>
                        Case Colour: Steel <br>
                        Band Material: Metal <br>
                        Case Material: Metal <br>
                        Features: Multifunction <br>
                        Water Resistant: 5 (ATM) <br>
                        Band Colour: Steel</p>
                </div>
                <p class="catalog-paragraph">Greenlane Watch By Police For Men</p>
                <span class="catalog-price">€1000</span>
            </li>
            <div class="catalog-desktop">
                <li class="catalog-item">
                    <img srcset="../img/catalog/watch9-2x-squoosh.jpg 2x" src="../img/catalog/watch9-squoosh.jpg"
                        alt="catalog-photo" width="275">
                    <div class="catalog-cover-text">
                        <h3>Description</h3>
                        <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                        <h3>DETAILS & FEATUREStion</h3>
                        <p>Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel</p>
                    </div>
                    <p class="catalog-paragraph">Squardrc 5402 Chrono</p>
                    <span class="catalog-price">€359</span>
                </li>
                <li class="catalog-item">
                    <img srcset="../img/catalog/watch10-2x-squoosh.jpg 2x" src="../img/catalog/watch10-squoosh.jpg"
                        alt="catalog-photo" width="275">
                    <div class="catalog-cover-text">
                        <h3>Description</h3>
                        <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                        <h3>DETAILS & FEATUREStion</h3>
                        <p>Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel</p>
                    </div>
                    <p class="catalog-paragraph">Diver 300M Co-Axial Master...</p>
                    <span class="catalog-price">€400</span>
                </li>
                <li class="catalog-item">
                    <img srcset="../img/catalog/watch11-2x-squoosh.jpg 2x" src="../img/catalog/watch11-squoosh.jpg"
                        alt="catalog-photo" width="275">
                    <div class="catalog-cover-text">
                        <h3>Description</h3>
                        <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                        <h3>DETAILS & FEATUREStion</h3>
                        <p>Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel</p>
                    </div>
                    <p class="catalog-paragraph">Citizen</p>
                    <span class="catalog-price">€519</span>
                </li>
                <li class="catalog-item">
                    <img srcset="../img/catalog/watch12-2x-squoosh.jpg 2x" src="../img/catalog/watch12-squoosh.jpg"
                        alt="catalog-photo" width="275">
                    <div class="catalog-cover-text">
                        <h3>Description</h3>
                        <p>Richly detailed with an <br> understated design - the Police <br> Men’s Greenlane watch.</p>
                        <h3>DETAILS & FEATUREStion</h3>
                        <p>Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel</p>
                    </div>                   <p class="catalog-paragraph">Armani Exchange</p>
                    <span class="catalog-price">€400</span>
                </li>
            </div>
        </ul>

        <button type="button" data-modal-open class="catalog-button">BUY NOW</button>
        </section>