<footer class="footer">
  <div class="container">
    <div class="footer-flex">
      <!-- PART 1 -->
      <div class="footer-contacts">
        <a href="" class="footer-logo-link">
          <img class="footer-logo" src="/img/footer/footer-logo.svg" alt="" />
        </a>
        <address class="footer-address">
          <ul class="footer-contacts-list">
            <li class="footer-contacts-tel">
              <a class="footer-tel" href="tel:+380684339426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-contacts-adr">
              <a
                target="_blank"
                href="https://goo.gl/maps/7NfaCc2cC8wdjoYf8?coh=178572&entry=tt"
                class="footer-adr"
              >
                1678 S. Pioneer Road<br />Salt Lake City<br />
                UT 84104
              </a>
            </li>
          </ul>
        </address>
      </div>
      <!-- PART 2 -->
      <div>
        <nav class="footer-navigation">
          <ul class="footer-navi-list">
            <li class="footer-navi-item">
              <a href="#about" class="footer-navi-link">About us</a>
            </li>
            <li class="footer-navi-item">
              <a href="#catalog" class="footer-navi-link">Catalog</a>
            </li>
            <li class="footer-navi-item">
              <a href="#sale" class="footer-navi-link">Sale</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- PART 3 -->
      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="footer-social-link"
            >
              <svg class="footer-social-logo">
                <use href="/img/footer/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://www.instagram.com/" target="_blank">
              <svg class="footer-social-logo">
                <use href="/img/footer/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://www.youtube.com/" target="_blank">
              <svg class="footer-social-logo">
                <use href="/img/footer/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-basement">
      <p class="footer-copyright">
        &#169;2022 The Watch Spot. All rights reserved.
      </p>
      <a href="" class="footer-policy">Privacy Policy</a>
      <a href="" class="footer-terms">Terms of Service</a>
    </div>
  </div>
</footer>
