<header class="page-header">
    <div class="container-header">
        <div class="cont-logo-nav">
            <div class="logo-container"><img src="./img/header/header-logo.svg" class="img-logo" alt="logo" width="14"
                    height="14"><span class="logo-header">thewatchspot</span></div>
            <nav class="nav-header">
                <ul class="list menu-header">
                    <li class="item-header">
                        <a class="link menu-header-link" href="#about">About us</a>
                    </li>
                    <li class="item-header">
                        <a class="link menu-header-link" href="#catalog">Catalog</a>
                    </li>
                    <li class="item-header">
                        <a class="link menu-header-link" href="#sale">sale</a>
                    </li>
                </ul>
            </nav>
        </div>
        <address class="adress-tel">
            <a class="link tel-header" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </address>
        <button type="button" data-menu-open class="mobile-menu-open"><svg class="mobile-open-icon" width="20"
                height="14">
                <use href="./img/header/icons.svg#icon-open-header-icon"></use>
            </svg></button>
    </div>
</header>