<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="icon-close" width="20" height="20">
        <use href="./img/modal-buy-now/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-wrap">
      <div class="selected-watch">
        <img
          src="./img/modal-buy-now/selected-watch.jpg"
          alt="Your selected watch"
          srcset="./img/modal-buy-now/selected-watch-2x.jpg 2x"
          width="276"
          height="325"
        />
        <h3 class="selected-watch-name">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="selected-watch-price">€395</p>
      </div>
      <form class="modal-form">
        <label class="modal-label">
          <span>Full name</span>
          <input
            type="text"
            name="user-name"
            class="modal-input"
            placeholder="Enter your full name"
          />
        </label>
        <label class="modal-label">
          <span>Email</span>
          <input
            type="email"
            name="user-email"
            class="modal-input"
            placeholder="Enter your email"
          />
        </label>
        <label class="modal-label">
          <span>Card number</span
          ><input
            type="text"
            name="user-card-number"
            class="modal-input"
            placeholder="Enter card"
          />
        </label>
        <label for="user-comments" class="modal-label">
          <span>Comment</span>
          <textarea
            name="user-comments"
            id="user-comments"
            class="modal-textarea"
            cols="30"
            rows="10"
            placeholder="Enter your text"
          ></textarea>
        </label>
        <button type="submit" class="modal-button">Submit</button>
        <label class="policy-text"
          >By clicking on “Submit” button, you agree to our
          <a class="privacy-policy" href=""> Privacy Policy</a>, and allow
          Promodo to use this information for marketing purposes.</label
        >
      </form>
    </div>
  </div>
</div>
