<div class="mobile-menu is-hidden-mob" data-menu>
    <div class="mob-header">
        <div class="logo-container"><img src="./img/header/header-logo.svg" class="img-logo" alt="logo" width="14"
                height="14"><span class="logo-header">thewatchspot</span></div>
        <button type="button" data-menu-close class="mobile-menu-close"><svg width="24" height="24">
                <use href="./img/header/icons.svg#icon-mob-close-icon"></use>
            </svg></button>
    </div>
    <ul class="mob-nav">
        <li class="list item-mob"><a href="../index.html#about" class="link link-mob">About us</a></li>
        <li class="list item-mob"><a href="../index.html#catalog" class="link link-mob">Catalog</a></li>
        <li class="list item-mob"><a href="../index.html#sale" class="link link-mob">Sale</a></li>
    </ul>
</div>