<section class="content">
    <div class="container">
      <h2 class="content-small-title">New watches</h2>
      <h2 class="content-title">Green And Bronze—The Match Made In Heaven</h2>

      <ul class="content-list list">
        <li class="content-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
              ./img/new_watches/newwatches-desk1x.jpeg.jpg,
              ./img/new_watches/newwatches-desk2x.jpeg.jpg
               "
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./img/new_watches/newwatches-tab1x.jpeg.jpg,
              ./img/new_watches/newwatches-tab2x.jpeg.jpg
            "
              
            />
            <source
           
          />
            <img
              src="./img/new_watches/newwatches-mob1x.jpeg.jpg"
              alt="watches"
            
         width="576" height="422"
         />
          </picture>
         

</li>

        <li class="content-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
              ./img/new_watches/watches-desk1x.jpeg.jpg,
              ./img/new_watches/watches-desk2x.jpeg.jpg
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./img/new_watches/watches-tab1x.jpeg.jpg,
              ./img/new_watches/watches-tab2x.jpeg.jpg
              
              "
            />
      
          
            <img
              src="./img/new_watches/watches-mob1x.jpeg.jpg"
              alt="watches"
              width="576" height="422"
            />
          
          </picture>
        



        </li>
      </ul>
    </div>
  </section>
