<section class="sale" id="sale">
    <div class="container">
        <h2 class="sale-title">Sale</h2>
            <div class="sale-wrap">
                <div class="sale-gallery">
                    <ul class="sale-gallery-list list">
                        <li class="sale-gallery-item">
                            <picture>
                                <source srcset="./img/sale/sale-1.jpg 1x, ./img/sale/sale-1@2x.jpg 2x" media="(min-width: 768px)">
                                <source srcset="./img/sale/sale-1-mob.jpg 1x, ./img/sale/sale-1-mob@2x.jpg 2x" media="(max-width: 767px)">
                                <img src="./img/sale/sale-1.jpg" alt="first picture of watch" width="146" height="146">
                            </picture>
                        </li>
                        <li class="sale-gallery-item">
                            <picture>
                                <source srcset="./img/sale/sale-2.jpg 1x, ./img/sale/sale-2@2x.jpg 2x" media="(min-width: 768px)">
                                <source srcset="./img/sale/sale-2-mob.jpg 1x, ./img/sale/sale-2-mob@2x.jpg 2x" media="(max-width: 767px)">
                                <img src="./img/sale/sale-1.jpg" alt="sacond picture of watch" width="146" height="146">
                            </picture>
                        </li>
                        <li class="sale-gallery-item">
                            <picture>
                                <source srcset="./img/sale/sale-3.jpg 1x, ./img/sale/sale-3@2x.jpg 2x" media="(min-width: 768px)">
                                <source srcset="./img/sale/sale-3-mob.jpg 1x, ./img/sale/sale-3-mob@2x.jpg 2x" media="(max-width: 767px)">
                                <img src="./img/sale/sale-3.jpg" alt="third picture of watch" width="146" height="146">
                            </picture>
                        </li>
                        <li class="sale-gallery-item">
                            <picture>
                                <source srcset="./img/sale/sale-4.jpg 1x, ./img/sale/sale-4@2x.jpg 2x" media="(min-width: 768px)">
                                <source srcset="./img/sale/sale-4-mob.jpg 1x, ./img/sale/sale-4-mob@2x.jpg 2x" media="(max-width: 767px)">
                                <img src="./img/sale/sale-4.jpg" alt="fourth picture of watch" width="146" height="146">
                            </picture>
                        </li>
                    </ul>
                    <picture>
                        <source srcset="./img/sale/sale-main.jpg 1x, ./img/sale/sale-main@2x.jpg 2x" media="(min-width: 768px)">
                        <source srcset="./img/sale/sale-main-mob.jpg 1x, ./img/sale/sale-main-mob@2x.jpg 2x" media="(max-width: 767px)">
                        <img src="./img/sale/sale-main.jpg" alt="sale main picture" width="406" height="614">
                    </picture>
                </div>
                <div class="details-wrap">
                    <h3 class="sale-watch-title">Greenlane Watch By Police For MenHT</h3>
                    <p class="sale-product">Product tag: PEWJK2227003</p>
                    <div class="sale-price-wrap">
                        <span class="sale-price">€700</span>
                        <p class="prewie-price">€1000</p>
                    </div>
                    <ul class="sale-description-list list">
                        <li class="sale-description-item">
                            <h4 class="sale-details">Description</h4>
                            <p class="sale-description">Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile multifunction design that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The timepiece exhibits a contrast through a black IP bracelet with matching crown and pushers.</p> 
                        </li>
                        <li class="sale-description-item">
                            <h4 class="sale-details">DETAILS & FEATUREStion</h4>
                            <ul class="sale-details-list list">
                                        <li class="sale-details-item">
                                            <p class="sale-details-info">Gender: man</p>
                                        </li>
                                        <li class="sale-details-item">
                                            <p class="sale-details-info">Size: 46x54.5mm</p>
                                        </li>
                                        <li class="sale-details-item">
                                            <p class="sale-details-info">Case Colour: Steel</p>
                                        </li>
                                        <li class="sale-details-item">
                                            <p class="sale-details-info">Band Material: Metal</p>
                                        </li>
                                        <li class="sale-details-item">
                                            <p class="sale-details-info">Case Material: Metal</p>
                                        </li>
                                        <li class="sale-details-item">
                                            <p class="sale-details-info">Features: Multifunction</p>
                                        </li>
                                        <li class="sale-details-item">
                                            <p class="sale-details-info">Water Resistant: 5 (ATM)</p>
                                        </li>
                                        <li class="sale-details-item">
                                            <p class="sale-details-info">Band Colour: Steel</p>
                                        </li>
                            </ul>
                        </li>
                    </ul> 
                </div>  
            </div> 
     </div> 
</section>