.about {
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-title {
font-weight: 600;
font-size: 32px;
line-height: 1.25;
letter-spacing: -0.02em;
color: #1E2827;
margin-bottom: 40px;
}
.about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
  
}

.about-text {
font-weight: 300;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: #141414;
text-align: justify;

}
@media screen and (min-width: 375px) {
    .about-container {
        max-width: 375px;
    }
    .gif{
        width: 335px;
        height: 365px;
        object-fit: cover;
    }
}
@media screen and (min-width: 768px) {
    .about {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .about-container {
        max-width: 768px;
    }
    .about-description {
        display: flex;
        gap: 40px;
    }
    .about-list {
        max-width: 490px;
        flex-wrap: nowrap;
        gap: 20px;
        margin-bottom: 40px;
    }
    .about-title {
        font-size: 40px;
        line-height: 1.1;
    }
    .gif{
        width: 704px;
        height: 465px;
    }
}
@media screen and (min-width: 1280px) {
    .about {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .about-container {
        max-width: 1280px;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    .about-description {
        gap: 110px;
    }
    .about-list {
        max-width: 892px;
        flex-wrap: nowrap;
        gap: 40px;
    }
    .gif{
        width: 892px;
        height: 500px;
      }
}

