p,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

.list {
    list-style: none;
}

.catalog-item>img {
    width: 275px;
}

.catalog-section {
    /* padding: 40px 20px; */
    width: 320px;
    margin: 0 auto;
    height: auto;
}

.catalog {
padding-top: 40px;
padding-top: 40px;
}

.catalog-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #1E2827;
    margin-bottom: 40px;
}

.catalog-list {
    display: flex;
    gap: 40px;
    padding-left: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.catalog-item>img {
    margin: auto;
    padding-top: 43px;
    padding-bottom: 43px;
    width: 276px;
}

.catalog-item {
    width: 320px;
    height: 410px;
    position: relative;
    overflow: hidden;
}

.catalog-item:hover .catalog-cover-text {
    transform: translate(0);
}

.catalog-cover-text {
    position: absolute;
    top: 0;
    background: #1E2827;
    border-radius: 8px;
    padding: 46px 40px;
    height: 100%;
    transform: translateY(-105%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-item>.catalog-cover-text {
    height: 360px;
    width: 320px;
}

.catalog-cover-text>h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.catalog-cover-text>h3:not(:first-child) {
    margin-top: 22px;
}

.catalog-item:hover .catalog-cover-text>h3 {
    transform: translate(0);
}

.catalog-cover-text>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

.catalog-item:hover .catalog-cover-text>p {
    transform: translate(0);
}

.catalog-cover {
    padding: 30px;
}

.catalog-paragraph {
    margin-top: 14px;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
}

.catalog-price {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
}

.catalog-desktop {
    display: none;
}

.catalog-button {
    background: #1E2827;
    border-radius: 8px;
    height: 42px;
    width: 108px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    margin-top: 40px;
    margin-left: auto;
}

.catalog-button:hover {
    background-color: #1e2419;
}

.catalog-button:focus {
    background-color: #1e2419;
}

.catalog-section .catalog-button {
    position: relative;
    right: 0px;
}

/* ===============337px=============== */

@media screen and (min-width: 375px) {
    /* .container-catalog {
        width: 335px;
        padding: 0 20px;
        } */

    .catalog-item {
        width: 335px;
    }

    .catalog-section {
        width: 335px;
    }

    .catalog-item>.catalog-cover-text {
        width: 335px;
    }
}

/* ================768px============== */

@media screen and (min-width: 768px) {
    .catalog-section {
        width: 768px;
        /* padding: 64px 32px; */
        margin: auto;
    }
    .catalog {
        padding-top: 64px;
        padding-bottom: 64px;
    }
        /* .container-catalog {
            width: 704px;
        } */

    .catalog-button {
        height: 50px;
        width: 122px;
        margin-top: 40px;
        }

    .catalog-title {
        font-size: 40px;
        line-height: 1.1;
        margin-left: 0;
    }

    .catalog-list {
        gap: 40px 32px;
        flex-direction: row;
    }
}

/* ================1280px============== */

@media screen and (min-width: 1280px){
    .catalog-section {
        width: 1176px;
        /* padding-left: 12px;
        padding-right: 12px; */
    }

        /* .container-catalog {
            width: 1176px;
        } */

        .catalog {
    padding: 80px 0;
}
    .catalog-list {
        display: flex;
        gap: 64px 24px;
        flex-direction: row;
    }

    .catalog-item {
        width: calc((100% - 72px) / 4);
        width: 276px;
        height: 375px;
    }

    .catalog-item>img {
        margin: auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .catalog-cover-text {
        padding: 26px 20px;
    }

    .catalog-cover-text>h3:not(:first-child) {
        /* padding-top: 26px; */
    }

    .catalog-item>.catalog-cover-text {
        width: 276px;
        height: 325px;
    }

    .catalog-paragraph {
        margin-top: 14px;
    }

    .catalog-desktop {
        display: contents;
    }

    .catalog-button {
        width: 122px;
        margin-top: 40px; 
      
    }}