.page-header {
    padding-top: 29px;
    padding-bottom: 29px;
    background-color: #141414;
}

.container-header {
    max-width: 335px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.img-logo {
    margin-right: 4px;
}

.logo-header {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.menu-header {
    display: none;
}

.adress-tel {
    display: none;
}

.menu-header-link {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-header-link:hover,
.menu-header-link:focus {
    color: #35734d;
}

.tel-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 48px;
    background-color: #1E2827;
    border-radius: 8px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-header:hover,
.tel-header:focus {
    color: #35734d;
}

.mobile-menu-open {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 768px) {
    .page-header {
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .container-header {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .cont-logo-nav {
        display: flex;
        align-items: center;
    }

    .logo-container {
        margin-right: 80px;
    }

    .img-logo {
        width: 19px;
        height: 19px;
    }

    .logo-header {
        font-size: 15px;
        line-height: 1.02;
    }

    .menu-header {
        display: flex;
        gap: 40px;
    }

    .adress-tel {
        display: block;
    }

    .mobile-menu-open {
        display: none;
    }
}

@media screen and (min-width: 1280px) {

    .container-header {
        max-width: 1280px;
        padding-left: 132px;
        padding-right: 132px;
    }

}