/* Hero */

.hero {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #141414;
}

.hero-text-desk {
  display: none;
}
.swiper {
  max-width: 266px;

  margin-right: auto;
  margin-left: 0;
}

.hero-title {
  max-width: 335px;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.05;

  letter-spacing: -0.04em;

  color: #ffffff;
}

.swiper-img {
  margin-bottom: 20px;
}

.hero-text {
  margin-bottom: 40px;
  margin-top: 40px;

  margin-left: auto;
  max-width: 248px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;

  color: #ffffff;
}

.swiper-buttons {
  display: flex;
  gap: 12px;
}
.swiper-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-btn-icon {
  display: flex;

  stroke: rgba(255, 255, 255, 0.5);
  width: 18px;
  height: 18px;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-numbers {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.swiper-btn:is(:hover, :focus) {
  border-color: #ffffff;
}
.swiper-btn:is(:hover, :focus) > .swiper-btn-icon {
  stroke: #ffffff;
}

.slide-number {
  display: flex;
  align-items: center;
  height: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;

  color: #ffffff;
}

.swiper-slide {
  margin-right: auto;
}
.hero-desk-img {
  display: none;
}
.hero-img {
  margin-top: 40px;
}

.line-svg {
  width: 32px;
  height: 2px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 64px;
  }
  .hero-tabl-flex {
    display: flex;
    gap: 20px;

    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .hero-text {
    margin: 0;
  }
  .hero-title {
    max-width: 653px;
    font-size: 60px;
    line-height: 1.03;
  }

  .swiper {
    margin: 0;
    max-width: 436px;
  }

  .swiper-btn {
    width: 40px;
    height: 40px;
  }
  .swiper-btn-icon {
    width: 24px;
    height: 24px;
  }
  .line-svg {
    width: 40px;
  }
  .hero-img {
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .hero-title {
    max-width: 750px;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1.03;

    letter-spacing: -0.04em;
  }
  .hero-text-desk {
    display: block;
    max-width: 282px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;

    letter-spacing: -0.02em;

    color: #ffffff;
  }
  .hero-desk {
    display: flex;
    justify-content: space-between;

    margin-bottom: 43px;
  }
  .hero-text {
    display: none;
  }
  .swiper {
    display: flex;
    gap: 64px;
  }

  .hero-desk-images {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
  }
  .hero-desk-img {
    display: block;
  }
  .hero-tabl-flex {
    margin-bottom: 0;
  }
}
