.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.modal {
  width: 320px;
  height: 1073px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 300ms linear;
  padding: 40px 20px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 17px;
  right: 17px;
  padding: 0;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.selected-watch {
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.selected-watch-name {
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
  margin-top: 14px;
  margin-bottom: 4px;
}

.selected-watch-price {
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}
.modal-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(20, 20, 20, 0.5);
  border-radius: 8px;
  margin-bottom: 18px;
  padding-left: 16px;
}
.modal-input::placeholder {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}
.modal-label {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #141414;
}
.modal-label span {
  display: block;
  margin-bottom: 12px;
}
.modal-textarea {
  width: 100%;
  height: 170px;
  border: 1px solid rgba(20, 20, 20, 0.5);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
}
.modal-textarea::placeholder {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}
.modal-button {
  width: 100%;
  height: 50px;
  background: #1e2827;
  border-radius: 8px;
  border-color: transparent;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.29;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
.policy-text {
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.4);
}
.privacy-policy {
  color: rgba(20, 20, 20, 0.4);
}
@media screen and (min-width: 375px) {
  .modal {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 744px;
    height: 670px;
    padding: 40px;
  }
  .modal-close-btn {
    top: 26px;
    right: 26px;
  }
  .selected-watch {
    margin: 0;
  }
  .modal-wrap {
    display: flex;
    gap: 20px;
  }
  .modal-form {
    width: 368px;
    height: 590px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 904px;
    height: 694px;
    padding: 40px;
  }
  .modal-wrap {
    gap: 40px;
  }
  .modal-form {
    width: 508px;
    height: 614px;
  }
  .modal-input {
    margin-bottom: 24px;
  }
  .modal-textarea {
    margin-bottom: 40px;
  }
  .modal-button {
    cursor: pointer;
  }
  .modal-button:hover {
    border-color: #ffffff;
  }
}
