.is-hidden-mob {
    transform: translateX(100%);
}

.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #1E2827;
    padding-top: 29px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 20;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-header {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.mobile-menu-close {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.mob-nav {
    display: block;
    width: 63px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.item-mob:not(:last-child) {
    margin-bottom: 14px;
}

.link-mob {
    display: block;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}