
.content {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-title {
  max-width: 335px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #141414;
}

.content-small-title {
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.06em;
  color: rgba(20, 20, 20, 0.4);
}

.content-list {
  
  display: flex;
  flex-direction: column;
  gap: 20px;

}

  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
     
    }
    .content-list {
      flex-direction: row;
    }
    .content {
      padding-top: 128px;
      padding-bottom: 128px;
    }
  
    .content-title {
      max-width: 448px;
      font-size: 40px;
      line-height: 1.1;
    }
  
    @media screen and (min-width: 1280px) {
      .container {
        max-width: 1280px;
      }
     .content-list {
    
     gap: 24px;
     
  }
      .content {
        padding-top: 102px;
        padding-bottom: 80px;
      }
  
      .content-title {
     
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: -0.02em;
      }
    }
  }
  
  
  
