/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body{
  font-family: 'Epilogue', sans-serif;
  background-color: #ffffff;
  color: rgba(20, 20, 20, 0.5);}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0px auto;
}