
/* -------------SALE----------------- */

.sale {
    padding-bottom: 80px;
}
.sale-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #141414;
    margin-bottom: 40px;
}
.sale-gallery {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
.sale-gallery-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sale-watch-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #141414;
    margin-bottom: 8px;
}
.sale-product {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
}
.sale-price-wrap{
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 40px;
}
.sale-price {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: #141414;
}
.prewie-price {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: rgba(20, 20, 20, 0.5);
}
.sale-description-list{
    position: relative;
}

.sale-description-item::before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #141414;
} 
.sale-description-item:not(:last-child){
    margin-bottom: 40px;

}
.sale-details {
    padding-top: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sale-details::after{
    content: '';
    background-color: currentColor;
    height: 1px;
    width: 16px;
}
.sale-description {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(20, 20, 20, 0.5);
}
.sale-details-info{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
}

/* ----------------MOBILE-------------------- */

@media screen and (min-width: 375px) {
    .container{
        width: 375px;
    }
    .sale-watch-title{
        font-size: 24px;
    }
    
}

/* ----------------TABLET-------------------- */

@media screen and (min-width: 768px){
    .container{
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .sale-title{
        font-size: 40px;
        line-height: 1.10;
    }
    .sale-wrap{
        width: 572px;
        margin: 0 auto;
    }
    .sale-watch-title{
        font-size: 38px;
        line-height: 1.05;
    }
    .sale-gallery{
        min-width: 572px;
    }
    
}

/* ----------------DESCkTOP-------------------- */

@media screen and (min-width: 1280px) {
    .container{
        width: 1280px;
        padding-left: 52px;
        padding-right: 52px;
    }
    .sale {
        padding-bottom: 160px;
    }
    .sale-wrap{
        width: 981px;
        margin: 0 auto;
        display: flex;
        gap: 40px;
    }
    .sale-title{
        margin-bottom: 80px;
    }
    .sale-gallery{
        margin-bottom: 0;
    }
}
