:root {
    --main-title-color:#FFFFFF;
    --second-title-color:#1E2827;;
    --main-btn-color:#1E2827;
    --main-text-color:#141414;    
    --second-text-color:#FFFFFF;
    --background-color-btn:#FFFFFF;
  }